<% content_for(:name, "Project | Epicodus Project") %>

<h1><%= @project.name %></h1>

<h3><%= @project.description %></h3>

<p><%= link_to "Return to projects", projects_path %></p>
<p><%= link_to "Edit", edit_project_path(@project) %></p>
<p><%= link_to "Delete", project_path(@project),
                         :data => {:confirm => "You sure?",
                              :method => "delete"} %></p>
